@use 'mixin.scss';

* {
    @include mixin.no-margin;
    font-family: 'Inter';
}


$white: #ffffff;
$black: #000000;
$dark-grey: #302c2c;
$body-grey: #777777;
$grey-tags: #808080;
$just-grey: #bebebe;
$light-grey: #e3e3e3;
$notes-color: #f0f0f0;
$bg-light: #f4f4f4;
$bg-dark: #272727;
$neutral: #eef1f8;
$rose: #ffc7f3;
$red: #ea2e34;
$blue: #9c9cff;
$green: #93ff82;
$yellow: #ffcb45;
$dark-text: #292929;
$orange-red: #ff4308;

$image-path: "../images/";
$img-logo: "LOGOTYPE.png";
$img-m-glass: "m-glass.svg";
$img-arrow-down: "Arrow-down.svg";
$img-arrow-right: "Arrow-right.svg";
$img-sun: "Sun.svg";
$img-clock: "Clock-icon.svg";
$img-insta: "insta-icon.svg";
$img-telega: "telega-icon.svg";
$img-facebook: "facebook-icon.svg";
$img-vk: "vk-icon.svg";
$img-youtube: "youtube-icon.svg";
$img-footer-banner: "LOGOTYPE-footer.svg";
$img-dark-clock: "dark-clock.svg";

.container {
    // width: 75.7%;
    width: 56.8%;
    margin: auto;
    background-color: $white;
}

.wrapper {
    width: 97.7%;
}

.abs-block-first {
    width: 100%;
    background-color: $green;
    @include mixin.flex (center, center, 0);
    padding: 120.5px 0;    
    margin: auto;
    margin-bottom: 32px;
    h4 {
        @include mixin.font (normal, 500, 48px, 58px, $black);
        text-align: center;
    }
}

.header {
    @include mixin.flex (center, center, 0);
    flex-direction: column;
    margin-bottom: 48px;

    &-top {
        @include mixin.flex (space-between, center, 0);
        background-color: $black;
        border-radius: 10px;
        padding: 14.84px 24px 14px 24px;
        margin-bottom: 16px;

        &-search-bar {
            @include mixin.flex (center, center, 37px);

            &-left {
                input {
                    width: 580px;
                    padding: 15px 56px 14px 16px;
                    background-color: $dark-grey;
                    border: 1px solid $dark-grey;
                    border-radius: 10px;
                    background-image: url("#{$image-path}#{$img-m-glass}");
                    background-repeat: no-repeat;
                    background-position: 97% center;
                }
            }

            &-right {
                @include mixin.flex (space-between, center, 64px);

                // .arrow {
                //     // background-image: url("#{$image-path}#{$img-arrow-down");
                // }

                h3 {
                    @include mixin.font (normal, 400, 18px, 120%, $white);
                }

                &-box {
                    @include mixin.flex (space-between, center, 12px)
                }
            }
        }
    }
}

.header-bottom {
        &-slider {
            @include mixin.flex (space-between, center, 0);
        }

    &-slider-left {
        @include mixin.flex (flex-start, center, 16px);

        &-btns {
            @include mixin.flex (center, center, 0);
            height: 48px;
            // padding: 12px 20px;
            border: 2px solid;
            border-radius: 8px;
            a {
                @include mixin.font (normal, 400, 20px, 120%, $grey-tags);
                text-decoration: none;
            }

            &-first {
                width: 188px;
                background-color: $black;
                border-color: $black;
                a {
                    color: $white;
                }
            }

            &-second {
                width: 205px;
                a {
                    text-transform: uppercase;
                }
            }

            &-third {
                width: 150px;
            }

            &-fourth {
                width: 118px;
            }

            &-fifth, &-sixth {
                width: 109px;
            }

            &-seventh {
                width: 107px;
            }

            &-eight {
                width: 115px;
            }
        }
    }

        &-slider-right {
            @include mixin.flex (space-between, center, 25px);
            &-switch {
                @include mixin.flex (space-between, center, 0);
                padding: 4px 40px 4px 4px;
                width: 84px;
                height: 48px;
                background-color: $black;
                border-radius: 32px;
                background-image: url(#{$image-path}#{$img-sun});
                background-repeat: no-repeat;
                background-position: 90% center;

                &-circle {
                    width: 40px;
                    height: 40px;
                    background-color: $white;
                    border-radius: 100%;
                }
            }
        }
}

.btns-type {
    background-color: $white;
    border-color: $grey-tags;
}

.main {
        width: 100%;
        margin: auto;
        a {
            text-decoration: none;
        }
        li {
            list-style-type: none;
        }
        &-title {
            @include mixin.flex (space-between, flex-start, 0);
            margin-bottom: 32px;
        }
}

.images {
    background-color: $light-grey;
    border-radius: 10px;
}

.title-left-image {
    width: 296px;
    height: 182px;
}

.main-title-left {
    width: 320px;

    ul {
        @include mixin.flex (center, center, 8px);
        flex-direction: column;
    }

    
    a {
        @include mixin.font (normal, 800, 18px, 110%, $black);
        font-feature-settings: "liga" off;
        h5 {
            width: 292px;
        }
    }
    
    &-top {
        margin-bottom: 16px;
    }

}

.title-box {
    @include mixin.flex (center, center, 16px);

    &-image {
        width: 72px;
        height: 72px;
    }

    &-right {
        @include mixin.flex (center, flex-start, 4px);
        flex-direction: column;
        .name {
            @include mixin.flex (center, center, 4px);
            width: 98px; 
            background-color: $green;
            border: 1px solid $black;
            border-radius: 6px;
            padding: 4px 8px;

            h6 {
                @include mixin.font (normal, 500, 14px, 120%, $black);
                letter-spacing: -0.019em;
            }
        }
        p {
            @include mixin.font (normal, 400, 18px, 120%, $black);
            width: 204px;
        }
    }
}

.main-title-center {
    width: 736px;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    @include mixin.flex (center, center, 16px);
    flex-direction: column;
    padding: 16px;


    &-image {
        width: 704px;
        height: 364px;
        margin: auto;
        background-color: $blue;
        border-radius: 10px;
    }

    h3 {
        @include mixin.font (normal, 800, 36px, 110%, $black);
        font-feature-settings: "liga" off;
        overflow-y: hidden;
    }
}

.main-title-right {
    position: relative;
    width: 320px;
    @include mixin.flex (center, center, 0);
    a {
        text-decoration: none;
    }

    &-info {
        h5 {
            @include mixin.font (normal, 700, 16px, 120%, $black);
            margin-bottom: 12px;
        }
        &-box {
            width: 288px;
            padding: 12px 0;
            border-top: 1px solid $light-grey;
            
        a {
            p {
                @include mixin.font (normal, 500, 18px, 120%, $body-grey);
                text-transform: lowercase;
                font-feature-settings: "liga" off;
                margin-bottom: 21px;
                span {
                    color: $black;
                }
            }
        }
    }
    }
    &-scroll {
        &-line {
            width: 4px;
            height: 130px;
            background-color: $blue;
            border-radius: 40px;
            position: absolute;
            top: 5%;
            right: 0;
        }
    }
}

.last-box {
    border-bottom: 1px solid $light-grey;
}

.main-card {
    margin: auto;
    margin-bottom: 24px;
    @include mixin.flex (space-between, center, 0);

    &-block {
        width: 460px;

        &-top {
            width: 100%;
            height: 360px;
            background-color: $red;
            border-radius: 10px;
        }

        &-bottom {
            @include mixin.flex (space-around, flex-start, 0);
            flex-direction: column;
            width: 100%;
            height: 360px;
            background-color: $black;
            border-radius: 10px;
            padding-left: 16px;

            &-title {
                h2 {
                    @include mixin.font (normal, 800, 36px, 110%, $white);
                    font-feature-settings: "liga" off;
                    overflow-y: hidden;
                    width: 376px;
                }
            }

            &-text {
                h6 {
                    @include mixin.font (normal, 500, 18px, 120%, $white);
                    display: flex;
                    align-items: flex-end;
                    letter-spacing: -0.019em;
                    width: 376px;
                }
            }

            &-data {
                @include mixin.flex (space-between, center, 0);
                width: 177px;
                
                &-day {
                    p {
                        @include mixin.font (normal, 400, 12px, 140%, $light-grey);
                        font-feature-settings: "liga" off;
                    }
                }

                &-time {
                    width: 79px;
                    @include mixin.flex (flex-end, center, 0);
                    background-image: url(#{$image-path}#{$img-clock});
                    background-repeat: no-repeat;
                    background-position: 13% center;
                    p {
                        @include mixin.font (normal, 400, 12px, 140%, $white);
                        font-feature-settings: "liga" off;
                    }
                }
            }
        }
    }
}

.small-card {
    @include mixin.flex (space-between, flex-start, 16px);
        margin: auto;
        margin-bottom: 48px;

        &-left {
            width: 932px;
            @include mixin.flex (center, center, 16px);
            flex-direction: column;

            &-info {
                @include mixin.flex (space-between, center, 0);
                

                &-text {
                    height: 360px;
                    width: 460px;
                    padding: 16px 0 16px 16px;
                    @include mixin.flex (space-between, flex-start, 0);
                    flex-direction: column;

                    &-title {
                        h2 {
                            @include mixin.font (normal, 800, 36px, 110%, $black);
                            font-feature-settings: "liga" off;
                            width: 392px;
                            overflow-y: hidden;
                        }
                    }

                    &-description {
                        h6 {
                            width: 392px;
                            @include mixin.font (normal, 500, 18px, 120%, $black);
                            display: flex;
                            align-items: flex-end;
                            letter-spacing: -0.019em;
                        }
                    }
                }

                &-data {
                    @include mixin.flex (space-between, center, 0);
                    width: 177px;

                    &-day {
                        p {
                            @include mixin.font (normal, 400, 12px, 140%, $dark-grey);
                            font-feature-settings: "liga" off;
                        }
                    }
    
                    &-time {
                        width: 79px;
                        @include mixin.flex (flex-end, center, 0);
                        background-image: url(#{$image-path}#{$img-clock});
                        background-repeat: no-repeat;
                        background-position: 13% center;
                        p {
                            @include mixin.font (normal, 400, 12px, 140%, $black);
                            font-feature-settings: "liga" off;
                        }
                    }
                }

                &-image {
                    width: 472px;
                    height: 360px;
                    background-color: $rose;
                    border-radius: 10px;
                }
            }
        }

        &-right {
            width: 460px;
            &-abs {
                width: 100%;
                height: 920px;
                background-color: $green;
                border-radius: 10px;
                @include mixin.flex (center, center, 0);

                h4 {
                    @include mixin.font (normal, 500, 49.4182px, 60px, $black);
                    text-align: center;
                }
            }
        }
}

.revers-card {
    flex-direction: row-reverse;
}

.abs-block {
    margin: auto;
    margin-bottom: 24px;

    &-show {
        height: 363px;
        background-color: $green;
        @include mixin.flex (center, center, 0);

        h4 {
            @include mixin.font (normal, 500, 48px, 58px, $black);
            text-align: center;
        }
    }
}

.inform-part {
    width: 100%;
    @include mixin.flex (center, center, 24px);
    flex-direction: column;
    margin-bottom: 32px;

    &-item {
        height: 560px;
        @include mixin.flex (space-between, flex-start,0);

        &-text {
            background-color: $black;
            border-radius: 10px;
            width: 460px;
            height: 560px;
            @include mixin.flex (center, flex-start, 0);
            padding: 24px 16px 24px 24px;
            position: relative;

            &-main {
                @include mixin.flex (center, flex-start, 48px);
                flex-direction: column;
                &-title {
                    h2 {
                        @include mixin.font (normal, 800, 48px, 110%, $white);
                        font-feature-settings: "liga" off;
                        width: 348px;
                        overflow-y: hidden
                    }
                }

                &-description {
                    h6 {
                        @include mixin.font (normal, 500, 18px, 140%, $white);
                        font-feature-settings: "liga" off;
                    }
                }
            }

            &-data {
                @include mixin.flex (space-between, center, 0);
                width: 177px;
                height: 15px;
                position: absolute;
                right: -13%;
                top: 20%;
                transform: rotate(90deg);
                overflow-y: hidden;
    
                &-day {
                    p {
                        @include mixin.font (normal, 400, 12px, 140%, $white);
                        font-feature-settings: "liga" off;
                    }
                }
    
                &-time {
                    width: 79px;
                    @include mixin.flex (flex-end, center, 0);
                    background-image: url(#{$image-path}#{$img-clock});
                    background-repeat: no-repeat;
                    background-size: 8.77px;
                    background-position: 13% center;
                    p {
                        @include mixin.font (normal, 400, 12px, 140%, $white);
                        font-feature-settings: "liga" off;
                    }
                }
            }

        }

        &-image {
            width: 948px;
            height: 560px;
            background-color: $yellow;
            border-radius: 10px;
        }

    }
}

.test { 
    @include mixin.flex (center, center, 24px);
    flex-direction: column; 
    margin: auto;   
    margin-bottom: 32px;

    &-title {
        width: 100%;
        @include mixin.flex (space-between, center, 0);

        &-abs {
            width: 200px;
            height: 140px;
            background-color: $green;
            border-radius: 10px;
        }

        &-btn {
            width: 60px;
            height: 140px;
            border-radius: 100px;
            background-color: $red;
            border: 0;
            p {
            @include mixin.font (normal, 700, 24px, 100%, $white);
            text-align: center;
            letter-spacing: -0.019em;
            transform: rotate(-90deg);
            text-transform: uppercase;
            overflow-y: hidden;
            }
        }

        &-text {
            width: 1146px;
            background-color: $light-grey;
            border-radius: 10px;
            @include mixin.flex (center, center, 0);
            padding: 24px 66px 24px 36px;
            
            p {
                @include mixin.font (normal, 600, 42px, 110%, $black);
                font-feature-settings: "liga" off;
                overflow-y: hidden;
            }
        }
    }
}

.results {
    @include mixin.flex (center, center, 0);
    background-color: $black;
    // width: 1408px;
    border-radius: 10px;
    padding: 52px 0;
    margin: auto;
    margin-bottom: 26px;
    a {
        text-decoration: none;

        h2 {
            @include mixin.font (normal, 600, 36px, 100%, $white);
            text-align: center;
            letter-spacing: -0.019em;
            overflow-y: hidden;
            text-transform: uppercase;
        }
    }
}

.mailing {
    @include mixin.flex (center, center, 0);
    flex-direction: column;
    margin: auto;
    margin-bottom: 16px;

    &-top {
        @include mixin.flex (center, center, 32px);
        flex-direction: column;
        width: 100%;
        background-color: $rose;
        border-radius: 10px;
        padding: 48px 0;

        h5 {
            width: 1190px;
            @include mixin.font (normal, 600, 72px, 100%, $black);
            text-align: center;
            overflow-y: hidden;
        }
    }

    &-bottom {
        padding: 24px 0;
        width: 100%;
        @include mixin.flex (space-around, center, 0);
        background-color: $black;
        border-radius: 10px;

        input {
            background-color: $bg-dark;
            border-radius: 10px;
            width: 816px;
            height: 140px;
            border: 0;
            padding-left: 32px;
        }

        &-btn {
            @include mixin.flex (center, center, 0);
            width: 520px;
            height: 140px;
            background-color: $red;
            border-radius: 10px;
            @include mixin.font (normal, 600, 36px, 100%, $white);
            text-align: center;
            letter-spacing: -0.019em;
        }
    }
}

.mailing-bottom {
    input::placeholder {
        @include mixin.font (normal, 600, 36px, 100%, $just-grey);
        // text-align: center;
        letter-spacing: -0.019em;
    }
}

.ideas {
    @include mixin.flex (center, center, 0);
    flex-direction: column;
    margin: auto;
    margin-bottom: 60px;

    &-top {
        width: 100%;
        @include mixin.flex (space-between, center,0);
        margin-bottom: 16px;

        &-left {
            width: 460px;
            height: 360px;
            background-color: $black;
            border-radius: 10px;
            padding: 24px 0 0 24px;

            img {
                margin-bottom: 137px;
            }

            h4 {
                @include mixin.font (normal, 800, 36px, 110%, $white);
                font-feature-settings: "liga" off;
                overflow-y: hidden;
                width: 412px;
            }
        }

        &-right {
            width: 932px;
            height: 360px;
            background-color: $black;
            border-radius: 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 16px;
            @include mixin.flex (space-between, flex-start, 140px);
            flex-direction: column;

            &-firstpart {
                @include mixin.flex (space-between, flex-start, 159px);

                h5 {
                    @include mixin.font (normal, 800, 36px, 110%, $white);
                    font-feature-settings: "liga" off;
                    overflow-y: hidden;
                    width: 421px;
                }

                &-btn {
                    width: 320px;
                    height: 48px;
                    background-color: $yellow;
                    border-radius: 10px;
                    border: 0;
                    @include mixin.font (normal, 800, 18px, 110%, $black);
                    text-align: center;
                    font-feature-settings: "liga" off;
                }
            }

            &-secondpart {
                @include mixin.flex (space-between, flex-end, 159px);

                h5 {
                    @include mixin.font (normal, 800, 36px, 110%, $white);
                    font-feature-settings: "liga" off;
                    overflow-y: hidden;
                    width: 421px;
                }
            }
        }
    }

    &-bottom {
        width: 100%;
        @include mixin.flex (space-between, center,0);
        
        &-left {
            width: 932px;
            padding: 16px;
            background-color: $black;
            border-radius: 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            height: 360px;
            overflow-y: hidden;
            h4 {
                @include mixin.font (normal, 800, 36px, 110%, $white);
                font-feature-settings: "liga" off;
                overflow-y: hidden;
                width: 421px;
            }

            &-btn {
                width: 320px;
                height: 48px;
                background-color: $white;
                border-radius: 10px;
                @include mixin.font (normal, 800, 18px, 110%, $black);
                text-align: center;
                font-feature-settings: "liga" off;
                transform: translate(180%, 260%);
            }
        }

        &-center {
            width: 148px;
            height: 360px;
            background-color: $black;
            border-radius: 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            @include mixin.flex (center, center, 0);
            position: relative;

            p {
                @include mixin.font (normal, 600, 28px, 100%, $white);
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: -0.019em;
                transform: rotate(-90deg);
                overflow-y: hidden;
                // width: 287.43px;
                // height: 82.43px;
                position: absolute;
            }
        }

        &-right {
            background-color: $white;
            border-radius: 10px;
            border: 0;
        }
    }
}

.footer {
    margin: auto;
}

.header-top-search-bar-right-tablet {
    display: none;
}

.main-title-right-tablet {
    display: none;
}

.main-card-block-tablet {
    display: none;
}

.small-card-tablet {
    display: none;
}

.inform-part-item-tablet {
    display: none;
}

.ideas-tablet-first {
    display: none;
}

.ideas-tablet-second {
    display: none;
}

.ideas-tablet-third {
    display: none;
}

.ideas-tablet-fourth {
    display: none;
}

.tablet-footer {
    display: none;
}

.main-title-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    // .container {
    //     width: 100%;
    // }

    // .wrapper {
    //     width: 96%;
    // }

    // .abs-block {
    //     width: 100%;
    //     padding: 45px 0;
    // }

    // .header-bottom-slider-left-btns-fifth {
    //     display: none;
    // }

    // .header-bottom-slider-left-btns-sixth {
    //     display: none;
    // }

    // .header-bottom-slider-left-btns-seventh {
    //     display: none;
    // }

    // .header-bottom-slider-left-btns-eight {
    //     display: none;
    // }

    // .header-bottom-slider-right {
    //     display: none;
    // }

    // .header-top-search-bar-right {
    //     display: none;
    // }

    // .header-bottom-slider-left-btns-fourth {
    //     width: 150px;
    // }

    // .header-top {
    //     padding: 12px;
    //     &-search {
    //         &-bar {
    //             gap: 16px
    //         }
    //     }
    // }

    // .header-bottom {
    //     @include mixin.flex (space-between, center, 0);
    // }

    // .header-top-search-bar-right-tablet {
    //     @include mixin.flex (space-between, center, 0);
    //     width: 196px;

    //     &-theme {
    //         @include mixin.flex (space-between, center, 0);
    //         padding: 4px 40px 4px 4px;
    //         width: 84px;
    //         height: 48px;
    //         background-color: $black;
    //         border-radius: 32px;
    //         background-image: url(#{$image-path}#{$img-sun});
    //         background-repeat: no-repeat;
    //         background-position: 90% center;
            
    //         &-circle {
    //             width: 40px;
    //             height: 40px;
    //             background-color: $white;
    //             border-radius: 100%;
    //         }
    //     }

    //     h3 {
    //         @include mixin.font (normal, 400, 18px, 120%, $white);
    //     }
    // }

    // .header-top-search-bar-left {
    //     input {
    //         width: 286px;
    //     }
    // }

    // .main-title {
    //     flex-direction: column-reverse;
    //     gap: 16px;
    //     align-items: center;
    //     margin-bottom: 24px;
        
    //     &-center {
    //         box-shadow: none;
    //         align-items: flex-start;
    //     }

    //     &-right {
    //         display: none;
    //     }
    // }

    // .title-left-image {
    //     width: 336px;
    //     height: 228px;
    // }

    // .main-title-left {
    //     width: 96%;
    //     @include mixin.flex (space-between, flex-start, 0);
    //     padding: 24px;

    //     h5 {
    //         @include mixin.font (normal, 700, 20px, 100%, $black);
    //         overflow-y: hidden;
    //     }

    //     ul {
    //         align-items: flex-start;
    //     }

    //     &-bottom {
    //         width: 336px;

    //         ul {
    //             gap: 32px;
    //         }
    //     }

    //     &-top {
    //         margin-bottom: 0;
    //         height: 285px;
    //     }
    // }

    // .main-title-right-tablet {
    //     display: flex;
    //     width: 736px;
    //     margin: auto;
    //     padding: 24px;
    //     @include mixin.flex (center, flex-start, 0);
    //     flex-direction: column;

    //     h3 {
    //         @include mixin.font (normal, 800, 18px, 110%, $black);
    //         font-feature-settings: "liga" off;
    //         margin-bottom: 16px;
    //     }

    //     &-top {
    //         width: 100%;
    //         @include mixin.flex (space-between, center, 0);
    //         border-bottom: 1px solid $light-grey;
    //         margin-bottom: 12px;

    //         &-box {
    //             a {
    //                 text-decoration: none;
    //             }
                
    //             p {
    //                 @include mixin.font (normal, 500, 18px, 120%, $body-grey);
    //                 text-transform: lowercase;
    //                 font-feature-settings: "liga" off;
    //                 margin-bottom: 12px;
    //                 span {
    //                     color: $black;
    //                 }
    //             }
    //         }
    //     }

    //     &-bottom {
    //         width: 100%;
    //         @include mixin.flex (space-between, center, 0);
    //         margin-bottom: 12px;
    //     }

    //     &-scroll {
    //         width: 290px;
    //         height: 4px;
    //         background-color: $blue;
    //     }
    // }

    // .main-card-block {
    //     display: none;
    // }

    // .main-card-block-tablet {
    //     display: block;
    //     width: 359px;
    //     background-color: $black;
    //     border-radius: 10px;
    //     padding: 12px;

    //     &-top {
    //         background-color: $red;
    //         border-radius: 6px;
    //         width: 335px;
    //         height: 240px;
    //         margin: auto;
    //     }

    //     &-bottom {
    //         width: 335px;

    //         h3 {
    //             @include mixin.font (normal, 700, 20px, 100%, $white);
    //             overflow-y: hidden;
    //         }

    //         &-data {
    //             margin-top: 12px;
    //             margin-bottom: 12px;
    //             width: 177px;
    //             height: 15px;
    //             @include mixin.flex (space-between, center, 0);

    //             &-day {

    //                 p {
    //                     @include mixin.font (normal, 400, 12px, 140%, $white);
    //                     font-feature-settings: "liga" off;
    //                 }
    //             }

    //             &-time {
    //                 width: 79px;
    //                 @include mixin.flex (flex-end, center, 0);
    //                 background-image: url(#{$image-path}#{$img-clock});
    //                 background-repeat: no-repeat;
    //                 background-position: 13% center;
    //                 p {
    //                     @include mixin.font (normal, 400, 12px, 140%, $white);
    //                     font-feature-settings: "liga" off;
    //                 }

    //             }
    //         }
    //     }
    // }

    // .small-card-left {
    //     display: none;
    // }

    // .small-card-right {
    //     display: none;
    // }

    // .small-card {
    //     @include mixin.flex (space-between, center, 16px); 
    //     flex-wrap: wrap;
    // }

    // .small-card-tablet {
    //     display: block;
    //     width: 359px;

    //     &-top {
    //         width: 100%;
    //         height: 281px;
    //         background-color: $rose;
    //         border-radius: 10px;
    //     }

    //     &-bottom {
    //         width: 100%;
    //         &-data {
    //             margin-top: 12px;
    //             margin-bottom: 12px;
    //             width: 177px;
    //             height: 15px;
    //             @include mixin.flex (space-between, center, 0);

    //             &-day {

    //                 p {
    //                     @include mixin.font (normal, 400, 12px, 140%, $black);
    //                     font-feature-settings: "liga" off;
    //                 }
    //             }

    //             &-time {
    //                 width: 79px;
    //                 @include mixin.flex (flex-end, center, 0);
    //                 background-image: url(#{$image-path}#{$img-dark-clock});
    //                 background-repeat: no-repeat;
    //                 background-position: 13% center;
    //                 p {
    //                     @include mixin.font (normal, 400, 12px, 140%, $black);
    //                     font-feature-settings: "liga" off;
    //                 }

    //             }
    //         }

    //         &-title {
    //             h3 {
    //                 @include mixin.font (normal, 700, 20px, 100%, $black);
    //                 overflow-y: hidden;
    //             }
    //         }
    //     }
    // }

    // .abs-block {
    //     display: none;
    // }

    // .inform-part-item {
    //     display: none;
    // }

    // .inform-part {
    //     @include mixin.flex (space-between, center, 16px); 
    //     flex-direction: row;
    //     flex-wrap: wrap;
    // }

    // .inform-part-item-tablet {
    //     display: block;
    //     width: 359px;

    //     &-top {
    //         width: 100%;
    //         height: 280px;
    //         background-color: $yellow;
    //         border-radius: 10px;
    //     }

    //     &-bottom {
    //         width: 100%;
    //         background-color: $black;
    //         border-radius: 10px;
    //         padding: 12px;
    //         overflow-y: hidden;

    //         h3 {
    //             @include mixin.font (normal, 800, 36px, 110%, $white);
    //             font-feature-settings: "liga" off;
    //             overflow-y: hidden;
    //             margin-bottom: 8px;
    //         }

    //         h5 {
    //             @include mixin.font (normal, 400, 18px, 120%, $white);
    //             font-feature-settings: "liga" off;
    //         }

    //         &-data {
    //             margin-top: 12px;
    //             margin-bottom: 12px;
    //             width: 177px;
    //             height: 15px;
    //             @include mixin.flex (space-between, center, 0);

    //             &-day {

    //                 p {
    //                     @include mixin.font (normal, 400, 12px, 140%, $white);
    //                     font-feature-settings: "liga" off;
    //                 }
    //             }

    //             &-time {
    //                 width: 79px;
    //                 @include mixin.flex (flex-end, center, 0);
    //                 background-image: url(#{$image-path}#{$img-clock});
    //                 background-repeat: no-repeat;
    //                 background-position: 13% center;
    //                 p {
    //                     @include mixin.font (normal, 400, 12px, 140%, $white);
    //                     font-feature-settings: "liga" off;
    //                 }

    //             }
    //         }
    //     }
    // }

    // .second-small {
    //     display: none;
    // }

    // .test-title {
    //     &-abs {
    //         width: 140px;
    //         height: 140px;
    //     }

    //     &-text {
    //         width: 536px;
    //         height: 140px;
    //         p {
    //             @include mixin.font (normal, 700, 24px, 100%, $black);
    //         }
    //     }
    // }

    // .results {
    //     display: none;
    // }

    // .mailing-top {
    //     margin-bottom: 16px;
    //     h5 {
    //         @include mixin.font (normal, 600, 48px, 110%, $dark-text);
    //         text-align: center;
    //         font-feature-settings: "liga" off;
    //         width: 688px;
    //     }
    // }

    // .mailing-bottom {
    //     @include mixin.flex (center, center, 24px);
    //     flex-direction: column;

    //     input {
    //         width: 688px;
    //     }

    //     &-btn {
    //         width: 688px;
    //     }
    // }

    // .ideas-top {
    //     display: none;
    // }

    // .ideas-bottom {
    //     display: none;
    // }

    // .ideas {
    //     gap: 16px;
    // }

    // .ideas-tablet-first {
    //     display: block;
    //     width: 736px;
    //     height: 736px;
    //     background-color: $white;
    //     border-radius: 20.5014px;
    //     padding: 24px;
    //     overflow-y: hidden;
        
    //     img {
    //         margin-bottom: 472.14px;
    //     }

    //     h5 {
    //         @include mixin.font (normal, 800, 48px, 110%, $black);
    //         font-feature-settings: "liga" off;
    //         overflow-y: hidden;
    //     }
    // }

    // .ideas-tablet-second {
    //     display: block;
    //     width: 736px;
    //     background-color: $black;
    //     border-radius: 10px;
    //     box-shadow: 0px 8.20056px 8.20056px rgba(0, 0, 0, 0.25);
    //     padding: 24px;

    //     h3 {
    //         @include mixin.font (normal, 600, 48px, 110%, $white);
    //         font-feature-settings: "liga" off;
    //         overflow-y: hidden;
    //     }

    //     &-btn {
    //         margin-top: 24px;
    //         width: 688px;
    //         height: 98px;
    //         background-color: $orange-red;
    //         border-radius: 10px;
    //         @include mixin.font (normal, 800, 36px, 110%, $white);
    //         text-align: center;
    //         font-feature-settings: "liga" off;
    //     }
        
    // }

    // .second-ideas-title {
    //     margin-top: 35px;
    //     margin-bottom: 35px;
    // }

    // .ideas-tablet-third {
    //     display: block;
    //     width: 736px;
    //     background-color: $black;
    //     border-radius: 20.5014px;
    //     padding: 24px;

    //     h4 {
    //         width: 686px;
    //         @include mixin.font (normal, 600, 42px, 110%, $white);
    //         font-feature-settings: "liga" off;
    //         overflow-y: hidden;
    //         margin-bottom: 45px;
    //     }

    //     &-btn {
    //         width: 688px;
    //         height: 114px;
    //         background-color: $white;
    //         border-radius: 10px;
    //         border: 0;
    //         @include mixin.font (normal, 600, 48px, 110%, $black);
    //         text-align: center;
    //         font-feature-settings: "liga" off;
    //     }
    // }

    // .ideas-tablet-fourth {
    //     display: flex;
    //     width: 736px;
    //     @include mixin.flex (space-between, center, 0);

    //     &-text {
    //         width: 164px;
    //         height: 637px;
    //         background-color: $black;
    //         border-radius: 10px;
    //         @include mixin.flex (center, center, 0);
    //         position: relative;
    //         h5 {
    //             @include mixin.font (normal, 800, 36px, 110%, $white);
    //             display: flex;
    //             align-items: center;
    //             text-align: center;
    //             font-feature-settings: "liga" off;
    //             transform: rotate(-90deg);
    //             position: absolute;
    //             overflow-y: hidden;
    //         }
    //     }
    // }

    // .footer {
    //     display: none;
    // }

    // .tablet-footer {
    //     display: block;
    // }
}

@media only screen and (max-width: 375px) {
    // .container {
    //     width: 100%;
    // }

    // .wrapper {
    //     width: 96%;
    // }

    // .abs-block-first {
    //     padding: 0;
    //     border-radius: 10px;
    // }

    // .header-bottom {
    //     display: none;
    // }

    // .header-top-search-bar {
    //     display: none;
    // }

    // .header-top {
    //     justify-content: center;
    // }

    // .header {
    //     margin-bottom: 16px;
    // }

    // .main-title-right-tablet {
    //     display: none;
    // }

    // .main-title-center {
    //     display: none;
    // }

    // .main-title-left {
    //     display: none;
    // }

    // .main-title-right {
    //     display: none;
    // }

    // .main-title-mobile {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 12px;

    //     &-image {
    //         width: 335px;
    //         height: 220px;
    //         background-color: $blue;
    //         border-radius: 6px;
    //     }
    // }

}